// color
$borderColor : #f1f1f1; // 边框颜色
$itemTextColor : #333; // 文本颜色
$itemTextColor2 : #666; // 文本颜色2
$barColor : #fdedec; // 条底色
$barActiveColor : #ccaaa7; // 条激活底色
$activeColor : #ee4b44; // 激活颜色
$activeHoverColor : #d53831; // 激活颜色hove时
$activeDisabledColor : #f5d5d3; // 激活禁用颜色
$placColor : #999; // 输入框placeholder字体颜色
$whiteActiveColor: #f6e5e5; // 白底热区active颜色

// size
$boxRadius : 10rpx; // 边框圆角
$textSize : 24rpx;
$titlteSize : 28rpx;
